.worldCentered{
	position:relative;
	margin-left: auto;
    margin-right: auto;
}

.contentInsideDiv{
	width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
	margin: 0 auto;
	background-color: #D3A724;
	font-family: myFirstFont;
	color: #3D3D3D
}

.hyperlink:link {
  color: #434DD8;
}

/* selected link */
.hyperlink:active {
  color: #B26BD3;
}

.contentInsideDivLightColored{
	width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
	margin: 0 auto;
	background-color: #DE9858;
	font-family: myFirstFont;
	color: #3D3D3D
}



@font-face {
    font-family: myFirstFont;
    src: url(Adventure.otf);
}